@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans+Condensed:300,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &::selection {
    color: #fff;
    background-color: #fd3968;
    background-image: linear-gradient(to right, #d33562 0%, #fd3968 100%);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;

  .quoteText {
    text-align: center;
    line-height: 0.3rem;
    font-size: 16px;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  .soon {
    color: #8e8e8e;
    font-size: 16px;
    margin: 100px 0 5px 0;
  }

  .icons a {
      text-decoration: none;
      color: #8e8e8e;
      font-size: 14px;
      transition: all .2s ease-in-out;
      padding: 0 2px;

    &:hover {
      color: #d33562;
    }
  }

  p.text {
    padding: 10px 0;
    font-weight: lighter;
    font-size: 45px;
    text-align: center;
    color: #d33562;
    text-transform: lowercase;
    letter-spacing: 4px;

    span {
      color: #fff;
      background-color: #fff2ac;
      background-image: linear-gradient(to right, #d33562 0%, #fd3968 100%);
    }
  }

  p.date {
    font-size: 16px;
    color: #8e8e8e;
  }

  //  @media - portrait
  @media screen and (max-width: 768px) {


  }

  @media screen and (max-width: 414px) {
    p.text {
      font-size: 36px;
    }

    p.date {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 375px) {

    p.text {
      font-size: 30px;
    }
  }


  // @media - landscape

  @media screen and (max-width: 823px) and (orientation: landscape) {

    p.text {
      font-size: 36px;
    }

    p.date {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 812px) and (orientation: landscape) {

    p.text {
      font-size: 32px;
    }
  }

  @media screen and (max-width: 640px) and (orientation: landscape) {

    p.text {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 568px) and (orientation: landscape) {

    p.text {
      font-size: 28px;
    }
  }
}
